body {
	text-align:center;
	margin:0px;
}

#top {
	min-width:200px;
	display:flex;
}

#petit {
	max-width:30px;
	max-height:30px;
	justify-content:flex-end;
}

#title {
	font-size:23px;
	color:#5D5D5D;
	text-align:left;
	margin-left:7%;
	margin-right:7%;
}

#title h1 p{
	padding-left:7%;
}

.email {
	font-family: 'Comfortaa', cursive;
	border:solid 1px #5D5D5D;
	border-radius:3px;
	text-align:left;
	padding-left:10px;
	color:grey;
	height:55px;
	width:415px;
	font-size:15px;
}

.bouton {
	font-family: 'Comfortaa', cursive;
	background:#071F98;
	color:white;
	border-radius:3px;
	text-align:center;
	padding-top:10px;
	font-weight:bold;
	margin-top:25px;
	height:55px;
	width:415px;
	font-size:15px;
}

.bouton:hover {
	background:#061C89;
	box-shadow:1px 1px 1px 1px #D9D2D2;
}

#img1 {
	max-width:70%;
}






#fourBlocks {

}

#fourBlocks p {
	font-family: 'Comfortaa', cursive;
	color:#5D5D5D;
}






#sixBlocks {
	background-color:#F5F5F5;
	text-align:left;
	max-width:100%;
	padding-bottom:70px;
}

#blockText {
	padding-top:40px;
	max-width:100%;
}

#blockText h2 {
	margin-bottom:-1px;
	color:#565555;
	font-size:30px;
	margin-left:7%;
	margin-right:7%;
}

#blockText p {
	font-family: 'Comfortaa', cursive;
	line-height:28px;
	color:#5D5D5D;
	margin-left:7%;
	margin-right:7%;
	padding-bottom:50px;
}

#blocks {
	max-width:100%;
	text-align:center;
	display:block;
	flex-flow:column wrap;
}

#blocks img {
	padding-right:10px;
}

.block {
	font-family: 'Comfortaa', cursive;
	justify-content:flex-start;
	margin-bottom:5px;
	height:40px;
	max-width:450px;
	margin-left:5%;
	margin-right:5%;
	padding-top:25px;
	padding-left:25px;
	background:white;
	text-align:center;
	font-weight:bold;
	font-size:20px;
	text-decoration: none;
	color:black;
	display:flex;
}

#b1 {
	flex:1;
}

#b2 {
	flex:2;
}

#b3 {
	flex:3;
}

#b4 {
	flex:4;
}

#b5 {
	flex:5;
}

#b6 {
	flex:6;
}






.article {
	max-width:90%;
	min-height:520px;
	box-shadow:1px 1px 15px 1px #D9D2D2;
}

.article:hover {
	box-shadow:1px 1px 30px 1px #D9D2D2;
}

.img-article {
	max-width:100%
}

.lien_article {
	text-orientation:left;
}

.petit {
	max-width:17px;
	max-height:17px;
	margin-left:auto;
}






#pubs {
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	align-items:center;
}

#pub1 {
	max-width:140px;
    margin:10px;
    text-align:center;
	flex:1;
}

#pub2 {
	max-width:140px;
    margin:10px;
    text-align:center;
	flex:2;
}

#pub3 {
	max-width:140px;
    margin:10px;
    text-align:center;
	flex:3;
}

#pub4 {
	max-width:140px;
    margin:10px;
    text-align:center;
	flex:4;
}

#pub5 {
	max-width:140px;
    margin:10px;
    text-align:center;
	flex:5;
}